.car-text {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
}
@media screen and (max-width:768px) {
  .car-text{
    font-size: 40px;
  }
  
}