.car-text {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
}
.cart-product-size {
  width: 200px;
}
.cart {
  padding: 15px;
  display: flex;
  gap: 50px;
  padding-top: 20px;
}
.content-cart {
  display: flex;
  align-items: center;
}
.cart-price {
  font-weight: 500;
  font-size: 20px;
}
.cart-qty {
  display: flex;
  font-size: 30px;
  align-items: center;
  margin-left: 150px;
}
.min-cart {
  margin-right: 10px;
}
.max-cart {
  margin-left: 10px;
}
.cart-delete {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: red;
  margin-bottom: 20px;
  margin-left: 350px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .car-text {
    font-size: 40px;
  }
}
/* Add to your styles (e.g., App.css) */
.slider-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.card p {
  font-size: 1em;
  color: #555;
}

/* Custom Styles for Previous and Next buttons */
.slick-prev,
.slick-next {
  background-color: #007bff;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
.about-title {
  text-align: center;
  padding: 40px 0px;
}
.small-hero img {
  width: 100%;
  height: 200px;
}
